Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # skip all files with .something
  RewriteCond %{REQUEST_URI} \..+$
  RewriteRule .* - [L]

  RewriteRule ^(.*)$ /index.php [QSA,L]

</IfModule>
